<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <div class="ironhack-movies">
    <h2>Cinema Ironhack</h2>
    <p>Click on the movie to check the showtimes!</p>
  </div>
  <div class="movie-cards">
    <% result.forEach(movie => { %>
      <div class="movie-card">
        <div class="movie-pic"><img src="<%= movie.image %>"/></div>
        <p><strong><%= movie.title %></strong></p>
        <a href="/movies/<%= movie._id %>" class="go-button">See more</a>
        <a href="/movies/<%= movie._id %>/edit">Edit</a>
        <form action="/movies/<%= movie._id %>/delete" method="post">
          <input class="delete-button" type="submit" value="delete">
        </form>
      </div>
    <% }) %>
  </div>

</body>
</html>